<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/loyout" layout:decorate="navbar.html" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/from.css}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">

    <div class="conteiner">
<form th:action="@{/cliente/actualizar/{id} (id = ${cliente.idCliente})}" method="post">

    <label for="idCliente">ID Cliente</label>
    <input type="number" id="idCliente" th:field="${cliente.idCliente}">

    <label for="nombreCliente">Nombre Cliente</label>
    <input type="text" id="nombreCliente" th:field="${cliente.nombreCliente}">

    <label for="correo">Correo</label>
    <input type="text" id="correo" th:field="${cliente.correo}">

    <label for="telefono">Telefono</label>
    <input type="text" id="telefono" th:field="${cliente.telefono}">

    <label for="direccion">Direccion</label>
    <input type="number" id="direccion" th:field="${cliente.direccion}">



    <input type="submit" value="Actualizar Cliente">

</form>
    </div>
</div>
</body>
</html>