<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>Id Categoria</th>
        <th>Tipo Categoria</th>
        <th>Descripcion</th>
        <th>Editar</th>

    </tr>
    <tr th:each="categoria : ${categoriass}">
        <td th:text="${categoria.id_Categoria}"></td>
        <td th:text="${categoria.tipocategoria}"></td>
        <td th:text="${categoria.descripcion}"></td>
        <td><a th:href="@{/categorias/editar/{id} (id = ${categoria.id_Categoria})}">Editar</a></td>
        <td><a th:href="@{/categorias/borrar/{id} (id = ${categoria.id_Categoria})}">Borrar</a></td>

    </tr>
</table>
<a href="/agregarcategoria">Agregar un nueva Categoria</a>



</body>
</html>