<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>Id Cliente</th>
        <th>Nombre Cliente</th>
        <th>correo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Editar</th>
        <th>Cliente</th>

    </tr>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.idCliente}"></td>
        <td th:text="${cliente.nombreCliente}"></td>
        <td th:text="${cliente.correo}"></td>
        <td th:text="${cliente.telefono}"></td>
        <td th:text="${cliente.direccion}"></td>
        <td><a th:href="@{/cliente/editar/{id} (id = ${cliente.idCliente})}">Editar</a></td>
        <td><a th:href="@{/cliente/borrar/{id} (id = ${cliente.idCliente})}">Borrar</a></td>
    </tr>
</table>
<a href="/agregarcliente">Agregar un nuevo cliente</a>



</body>
</html>